<configuration>
  <configSections>
    
  </configSections>

  <!-- Logging section-->
  <logging>
    <root>
      <logger ref="composite"/>
    </root>
    <filters>
      <filter id="PassFilter" type="Mercury.Logging.PassFilter">
        <param name="Fail" value="false"/>
      </filter>
      <filter id="FailFilter" type="Mercury.Logging.PassFilter">
        <param name="Fail" value="true"/>
      </filter>
    </filters>
    <formatters>
    </formatters>
    <loggers>
      <logger id="sqlMessageLogger" type="DAX.Services.Logging.Loggers.SqlMessageLogger" assembly="DAX.Services.Logging">
        <param name="ConnectionString" value=""/>
        <param name="TableName" value="dbo.MessageLog"/>
      </logger>
      <logger id="durableLogger" type="Mercury.Logging.Loggers.DurableLogger">
        <param name="Filter" value="{ref=PassFilter}"/>
        <param name="DurableLogPath" value="C:\logs\web.log"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="DurabilityMode" value="BatchThrough"/>
        <param name="Threshold" value="30"/>
        <param name="Primary" value="{ref=sqlMessageLogger}"/>
      </logger>
      <logger id="criticalErrorLogger" type="Mercury.Logging.Loggers.FileLogger">
        <param name="Filter" value="{ref=FailFilter}"/>
        <param name="LogOptions" value="DateTime|ProcessId|ThreadId|Callstack"/>
        <param name="SeverityThreshold" value="Error"/>
        <param name="FilePath" value="C:\logs\DAX-Services-errors.log"/>
        <param name="Encoding" value="UTF-8"/>
        <param name="WriteOnly" value="true"/>
        <param name="Threshold" value="1"/>
      </logger>
      <logger id="composite" type="Mercury.Logging.Loggers.CompositeLogger">
        <children>
          <object-ref ref="durableLogger"/>
          <object-ref ref="criticalErrorLogger"/>
        </children>
      </logger>
    </loggers>
  </logging>
</configuration>