<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mercuryLogging" type="Mercury.Logging.Configuration.LoggingSection, Mercury.Logging.Configuration"/>
    <section name="customLog" type="Mercury.Logging.Configuration.LoggingSection, Mercury.Logging.Configuration"/>
  </configSections>

  <mercuryLogging xmlns="http://framework.mercury.com/logging/schema">
    <filters>
      <filter id="PassFilter" type="Mercury.Logging.PassFilter">
        <param name="Fail" value="false"/>
      </filter>
      <filter id="FailFilter" type="Mercury.Logging.PassFilter">
        <param name="Fail" value="true"/>
      </filter>
    </filters>
    <formatters>
      <formatter id="customFormat" type="Mercury.Logging.DefaultLogFormatter">
        <param name="Options" value="DateTime|ProcessId|ThreadId|Callstack"/>
      </formatter>
      <formatter id="threadTracingFormatter" type="Mercury.Logging.DefaultLogFormatter">
        <param name="Options" value="ProcessId|ThreadId"/>
      </formatter>
    </formatters>
    <loggers>
      <logger id="memLogger" type="Mercury.Logging.Loggers.MemoryLogger">
        <param name="BufferSize" value="250"/>
        <param name="Filter" value="{ref=FailFilter}"/>
      </logger>
      <logger id="errorLogger" type="Mercury.Logging.Loggers.MemoryLogger">
        <param name="BufferSize" value="100"/>
        <param name="Formatter" value="{ref=customFormat}"/>
        <param name="SeverityThreshold" value="Error"/>
      </logger>
      <logger id="consLogger" type="Mercury.Logging.Loggers.ConsoleLogger">
        <param name="Name" value="Console"/>
      </logger>
      <logger id="persistent" type="Mercury.Logging.Loggers.PersistentLogger">
        <param name="BufferSize" value="200"/>
        <param name="RetryInterval" value="1"/>
        <param name="Logger" value="{ref=consLogger}"/>
      </logger>
      <logger id="composite" type="Mercury.Logging.Loggers.CompositeLogger">
        <param name="Formatter" value="{ref=threadTracingFormatter}"/>
        <children>
          <object-ref ref="memLogger"/>
          <object-ref ref="errorLogger"/>
          <object-ref ref="consLogger"/>
        </children>
      </logger>
    </loggers>
    <root>
      <parameters>
        <param name="Formatter" value="{ref=threadTracingFormatter}"/>
      </parameters>
      <logger id="error" ref="errorLogger"/>
      <logger id="store" ref="persistent"/>
      <logger id="multi" ref="composite"/>
    </root>
  </mercuryLogging>

  <customLog xmlns="http://framework.mercury.com/logging/schema">
    <loggers>
      <logger id="memLogger" type="Mercury.Logging.Loggers.MemoryLogger">
        <param name="BufferSize" value="10"/>
        <param name="Name" value="memLogger"/>
      </logger>
    </loggers>
    <root>
      <logger id="default" ref="memLogger"/>
    </root>
  </customLog>
</configuration>